@import "../../styles/components.scss";

.container {
    max-width: 600px;
    position: relative;
    height: 50px;
    display: flex;
    position: relative;

    input {
        appearance: none;
        width: 100%;
        height: 7px;
        border-radius: 10px;
        background: $blue;
        outline: none;
        opacity: 0.7;
        align-self: flex-end;
        transition: 0.4s;

        &:focus {
            outline: none;
            opacity: 1;
            & + .dropContainer {
                transform: scale(1.5) translateY(-5px);
            }
        }

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1rem;
            height: 1rem;
            background: $blue;
            cursor: pointer;
            border-radius: 100%;
        }

        &::-moz-range-thumb {
            width: 1rem;
            height: 1rem;
            background: $blue;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    &.inputDisable {
        input {
            &::-webkit-slider-thumb {
                background: lightgray;
            }

            &::-moz-range-thumb {
                background: lightgray;
            }
        }
    }

    .dropContainer {
        color: #fff;
        text-shadow: 0.03rem 0.03rem 0.06rem #000000cc;
        display: inline-block;
        width: 18px;
        height: 18px;

        position: absolute;
        // top: -14px;
        bottom: 18px;
        text-align: center;
        transition: transform 0.2s;
        z-index: 1;
        font-size: 0.75rem;
        line-height: 18px;

        .dropContent {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            background: $blue;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0 50% 50% 50%;
            z-index: -1;
            transform: rotate(-130deg);

            span {
                transform: rotate(130deg);
                display: inline-block;
            }
        }
    }
}
