// @import "../styles/globals.css";
@import "../../styles/components.scss";

.container {
    width: max-content;
    height: 65px;
    margin-left: 2rem;
    .wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        label {
            font-size: small;
            color: $grey;
            margin-left: 0;
            padding-left: 0;
        }

        .imageWrapper {
            display: flex;
            justify-content: flex-start;
        }
    }
    figure {
        // border: 1px solid red;
        display: flex;
        width: 100px;
        height: 40px;
        // height: 61px;

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    ul {
        height: auto;
        transition: 0.4s;
        background: white;
        position: absolute;
        // box-shadow: 0px 8px 10px #00000011;
        @extend .box-shadow;
        width: max-content;
        min-width: 200px;
        padding: 1rem;
        padding-bottom: 0.3rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);

        &.listopen {
            opacity: 1;
            visibility: visible;
            height: auto;
            transform: translateY(0px);
        }

        li {
            border-bottom: 1px solid #dbdbdb;

            &:last-child {
                border-bottom: none;
            }

            button {
                line-height: 2.4rem;
                display: block;
                width: 100%;
                text-align: left;

                &:hover {
                    color: blue;
                }

                &.invisible {
                    opacity: 0;
                }
            }
        }
    }

    button.toggle {
        // border: 1px solid red;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
    }
}
