.container {
    .wrapper {
        display: flex;
    }
    figure {
        border: 1px solid red;
        display: flex;
        width: 100px;
        height: 100px;

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    ul {
        height: auto;
        transition: 0.4s;

        &.listopen {
            opacity: 1;
        }
        &.listclosed {
            opacity: 0;
            height: 0px;
        }
    }
}
