@import "../../styles/components.scss";

.wrapper {
    display: flex;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    .number {
        margin-right: 1rem;
        // width: 40px;
        display: block;
        flex: 0 0 40px;
        font-weight: bold;
        font-size: 1.2rem;

        @media (max-width: 768px) {
            flex: 0 0 24px;
            font-size: .85rem;
            margin-right: .6rem;
            padding-top: 2px;
        }
    }

    .container {
        flex: 1;
    }

    .rangeWrapper {
        max-width: 500px;
        margin-bottom: 1.5rem;
    }

    .rangeValue {
        color: $lightblue;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .btnAddNote {
        color: $blue;
        font-weight: bold;
        font-size: 0.8rem;
        display: flex;

        b {
            margin-left: 10px;
        }
    }

    .textAreaContainer {
        margin: 1rem 0;
        transition: 0.4s ease-in-out;
        overflow: hidden;
        height: 0;

        textarea {
            border: 1px solid $lightgrey;
            padding: 0.8rem;
            width: 100%;
            max-width: 500px;
            font-size: 0.8rem;
            min-height: 120px;
        }
    }

    .textBoxOpen {
        height: 120px;
    }

    h2 {
        font-weight: bold;
        margin-bottom: 1.5rem;

        + p {
            font-weight: lighter;
            font-size: 0.8rem;
            max-width: 500px;
        }
    }
}
