@import "./components.scss";

.sectionContainer {
    margin-top: 5rem;
}
.sectionContent {
    background: #ffffff;
    /* shadow */

    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.16);
    border-radius: 14px;
    padding: 3rem 2rem;

    h2 {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    @media (max-width: 768px) {
        padding: 3rem 1rem;
    }
}
.btnAddNote {
    color: $blue;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;

    b {
        margin-left: 10px;
    }
}

.colRight {
    @media (max-width: 768px) {
        display: none;
    }
}

.sideNavigation {
    margin-top: calc(60px + 7rem);

    hr {
        margin: 1rem 0;
    }
    
    &.fixed {
        position: sticky;
        margin-top: 0;
        top: 4.5rem;

    }
    h1 {
        font-weight: 400;
        text-transform: uppercase;
        color: $grey;
        font-size: .8rem;
        padding-bottom: .7rem;
        border-bottom: 1px solid $lightgrey;
    }

    nav {
        margin-top: 1rem;

        a {
            color: $blue;
            display: inline-block;
            font-weight: bold;
            margin-bottom: calc(.3rem - 2px);
            border-bottom: 2px solid transparent;
            font-size: .7rem;
            cursor: pointer;

            &.sidenavActive {
                border-bottom: 2px solid $blue;
            }
        }
    }
}