@import "./components.scss";

.sectionContainer {
    margin-top: 5rem;
}
.sectionContent {
    background: #ffffff;
    /* shadow */

    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.16);
    border-radius: 14px;
    padding: 3rem 2rem;

    h2 {
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
}
.btnAddNote {
    color: $blue;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;

    b {
        margin-left: 10px;
    }
}
