@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: #444;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

pre {
    white-space: break-spaces;
    width: 100%;
    overflow-wrap: break-word;
    font-size: x-small;
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.scrollToTop {
    cursor: pointer;
    padding: 0.3rem 1rem;
    border: 1px solid grey;
    text-transform: uppercase;
    font-size: .5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

